<!DOCTYPE html>
<html>
<body>
    {% block body %}
    <div class="container mt-5">
        <h1> {{ movie.title }} </h1>
        <div class="alert alert-info">
            <p><b>Дата: {{ movie.release_date }}</b></p>
            <a href="/movie_list/{{ movie.id }}/movie_update" class="btn btn-warning">Редактировать</a>
            <a href="/movie_list/{{ movie.id }}/movie_delete" class="btn btn-warning">Удалить</a>
        </div>
    </div>
    {% endblock %}
    <a href="/" class="btn btn-warning">Домашняя страница</a>
</body>
</html>